<p>This is a main page</p>
<form action="/" method="post"> 
    <label for="taskName">Task name</label>
    <input type="text" name ="taskName" >
  
    <label for="taskAuthor">Task author</label>
    <input type="text" name ="taskAuthor" >
  
    <label for="taskBody">Task body</label>
    <input type="text" name ="taskBody" >
 
<button class="btn waves-effect waves-light teal lighten-2  white-text" type="submit"> add</button>
    
 


</form>