<br>
<form action="/" method="post"> 
    <label for="taskName">Task name</label>
    <input type="text" name ="taskName" >
  
    <label for="taskAuthor">Task author</label>
    <input type="text" name ="taskAuthor" >
  
    <label for="taskBody">Task body</label>
    <textarea type="text" name ="taskBody" class="materialize-textarea"></textarea>
 
<button class="btn waves-effect waves-light teal lighten-2  white-text" type="submit"> add</button>
</form>
<br>

<h4>You have created a task:</h4>
<br>
<table>
<thead> 
    <tr>
        <th>Task Name</th>
        <th>Task Author</th>
    </tr>
</thead>
<tbody> 
    <tr>
        <td> {{data.taskName}}</td>
        <td>{{data.taskAuthor}}</td>
    </tr>
</tbody>

</table>
    
 

