<table>
<thead> 
    <tr>
        <th>Task Name</th>
        <th>Task Author</th>
        <th>Task Body</th>
        
    </tr>
</thead>

{{#each Data}}
<tbody>
<tr>
    <td>{{taskName}}</td>
    <td>{{taskAuthor}}</td>
    <td>{{taskBody}}</td>
</tr>
</tbody>
{{/each }}
</table>

